section {
  display: flex;
  flex-direction: column;
  background-color: #b2f2bb;
  padding: 15px 20px;
  border: 1px solid #000;
  width: 95%;
  margin: 25px;
  position: relative;
  font-family: "Comic Sans MS", sans-serif;
}

button {
  background-color: #b2f2bb;
  border: 1px solid #000;
  padding: 5px 15px;
  cursor: pointer;
  position: absolute;
  top: 38px;
  right: 5px;
  font-family: "Comic Sans MS", sans-serif;
}

.rectangulo {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #b2f2bb;
}
